tests/__pycache__/
.pytest_cache
.report_runfiles/

__pycache__/
*.py[cod]
*$py.class
*.nbc
*.nbi

build/
dist/
*.egg-info/
.eggs/


.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

.venv/
venv/
env/
.vscode/
.idea/
.DS_Store
